@import "tailwindcss";

@theme {
  --color-black: #000000;
  --color-background: #000000;
}

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: transparent;
}

@layer utilities {
  .drag-region {
    -webkit-app-region: drag;
  }

  .no-drag {
    -webkit-app-region: no-drag;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
  }
}